* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

.wrapper{
    height: 100vh;
    background-color: #1b1d28;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper > h2 {
    margin-bottom: 80px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-radio input {
    display: none;
}

.radio-btn {
    position: relative;
    width: 234px;
    height: 260px;
    margin: 10px;
    background-color: #222533;
    border: 4px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.radio-btn .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio-btn .profile-img {
    width: 80px;
    height: 80px;
    margin: 20px 0;
    border-radius: 50%;
    overflow: hidden;
}

.radio-btn .profile-img img {
    width: 100%;
    height: 100%;
    user-select: none;
}

.radio-btn h2 {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.radio-btn .skill{
    display: inline-block;
    margin-bottom: 20px;
    color: #c3c2c7;
    font-size: 16px;
    text-transform: capitalize;
}

.radio-btn .check-icon {
    width: 30px;
    height: 30px;
    background-color: #1b1d28;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.radio-btn .check-icon .icon{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 8px;
    margin-top: -2px;
    transform: rotate(-40deg);
}

.radio-btn .check-icon .icon::before{
    content: "";
    width: 3px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.231);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}

.radio-btn .check-icon .icon::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.231);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.1s;
}

.custom-radio input:checked + .radio-btn {
    border: 4px solid #7434c3;
}

.custom-radio input:checked + .radio-btn .check-icon{
    background-color: #7434c3;
}

.custom-radio input:checked + .radio-btn .check-icon .icon::before,
.custom-radio input:checked + .radio-btn .check-icon .icon::after {
    transform: scale(1);
}

.radio-buttons .add-profile {
    width: 234px;
    height: 290px;
    margin: 10px;
    background-color: #222533;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.radio-buttons .add-profile img {
    width: 80px;
    user-select: none;
}



